*  {
  box-sizing: border-box;
}

/************* navigation ****************/
.navigation img {
    height: 80px;
    margin-left: 40px;
}

header {
    background-color: white;
    /*position: fixed;*/
    top: 0;
    left: 0;
    right: 0;
    font-family: sans-serif;
    height: 75px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

.navigation * {
    display: inline;
}

.navigation li {
    margin: 20px;
}

.navigation li a {
    color: black;
    text-decoration: none;
}

/**************************************/

/************** Break paragraph ************/

.para {
    white-space: pre-line;
}

/******************************************/


/* Add a gray background color with some padding */
body {
  font-family: Arial;
  padding: 20px;
  background-color: #f0f8ff;
  margin-left: 2%;
  margin-right: 2%;
}

/* Header/Blog Title */
.head {
  margin-top: 20px;
  padding: 10px;
  font-size: 25px;
  text-align: center;
  background: #ffb400;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 72%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 28%;
  padding-left: 20px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn25 {   
  float: left;
  width: 25%;
}

/* Right column */
.rightcolumn75 {
  float: left;
  width: 75%;
  padding-left: 20px;
}


/* image */
.postimg {
  padding: 20px;
  height: 100%;
  width: 100%;
}

.fakeimg {
  background-color: #aaa;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

.card p{
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: sans-serif;
  color:#575757; 
}

.card li{
  color: #575757; 
  list-style-type: none;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ffb400;
  margin-top: 20px;
}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
.leftcolumn,.rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/************************** Image grid *************************/

.rowgrid {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.rowgrid,
.rowgrid > .columngrid {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.columngrid4 {
  float: left;
  width: 25%;
}

/* Create Three equal columns that floats next to each other */
.columngrid3 {
  float: left;
  width: 33%;
}

/* Clear floats after rows */ 
.rowgrid:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
  margin: 5px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .columngrid {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .columngrid {
    width: 100%;
  }
}

/************************************************************/

/**************** Table Specification **********************/

.spec_table table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: 0px auto;
  margin-top: 50px;
}

.spec_table th{
  background-color: #7d65eb;
  color: #ffffff;
}

.spec_table td, th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.spec_table tr:nth-child(even) {
  background-color: #dddddd;
}

/********************************************************/

/***************** Read More Button ****************************/

.button {
  padding: 12px 32px;
  text-align: center;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-left: 20px;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button1:hover {
  background-color: #008CBA;
  color: white;
}

#more {
  display: none;
}

/*******************************************************/